<body class="mat-app-background">
    <h1>SARL BEUZELIN</h1>
    <mat-tab-group animationDuration="1000ms">
        <mat-tab label="Triage">
            <p style="margin-top: 10px;">
                On trie
            </p>
            <div style="display:flex; flex-direction: row;">
            <mat-card class="Pesée">
                <mat-card-header>
                  <mat-card-title>Pesée</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Numéro de lot : 
                  </p>
                  <p>
                    Type : 
                  </p>
                  <p>
                    Poids : 
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card class="Fleche1">
                <mat-card-header>
                  <mat-card-title>Transit 1</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/yellowarrow.jpg" alt="yellowarrow1">
                <mat-card-content>
                    <p>
                      Perte de céréales ?
                    </p>
                  </mat-card-content>
              </mat-card>
              
              <mat-card class="Triage">
                <mat-card-header>
                  <mat-card-title>Triage</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Numéro de lot : 
                  </p>
                  <p>
                    Bourrage : ?
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card class="Fleche2">
                <mat-card-header>
                  <mat-card-title>Transit 2</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/yellowarrow.jpg" alt="yellowarrow2">
                <mat-card-content>
                    <p>
                      Perte de céréales ?
                    </p>
                  </mat-card-content>
              </mat-card>
              <mat-card class="Nettoyage">
                <mat-card-header>
                  <mat-card-title>Nettoyage</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Numéro de lot : 
                  </p>
                  <p>
                    Poussières inflammables : ?
                  </p>
                </mat-card-content>
              </mat-card>  
              <mat-card class="Fleche3">
                <mat-card-header>
                  <mat-card-title>Transit 3</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/yellowarrow.jpg" alt="yellowarrow3">
                <mat-card-content>
                    <p>
                      Perte de céréales ?
                    </p>
                  </mat-card-content>
              </mat-card> 
            </div>           
              
        </mat-tab>
        <mat-tab label="Cellules">
            <p style="margin-top: 10px;">
                Vue des cellules
            </p>
            <div>
                <h3>Cellule 1: Orge</h3>
                <p>
                    <mat-progress-bar mode="determinate" [value]="bar1" color="primary"></mat-progress-bar>
                </p>
                <h3>Cellule 2: Blé</h3>
                <p>
                    <mat-progress-bar mode="determinate" [value]="bar2" color="accent"></mat-progress-bar>
                </p>
                <h3>Cellule 3: Maïs</h3>
                <p>
                    <mat-progress-bar mode="determinate" [value]="bar3" color="warn"></mat-progress-bar>
                </p>
            </div>
            <!--
            <div>
                <mat-form-field appearance="fill" style="padding-right: 20px; padding-left: 20px;">
                    <mat-label>progress bar 1</mat-label>
                    <input matInput type="number" [(ngModel)]="bar1" placeholder="Ex. 12">
                </mat-form-field>
                <mat-form-field appearance="fill" style="padding-right: 20px;">
                    <mat-label>progress bar 2</mat-label>
                    <input matInput type="number" [(ngModel)]="bar2" placeholder="Ex. 12">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>progress bar 3</mat-label>
                    <input matInput type="number" [(ngModel)]="bar3" value=90 placeholder="Ex. 12">
                </mat-form-field>
            </div>
          -->
        </mat-tab>
         <mat-tab label="Boisseau">
            <div fxLayout="row" fxLayoutAlign="space-around stretch">             
                <div>
                    <mat-card style="height:700px; width:600px;overflow-y: scroll;">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Boisseau</mat-card-title>
                        </mat-card-header>
                        <!--<img mat-card-image src="../../assets/boisseau.jpg" alt="camion">-->
                        <mat-card-content>
                          <p>
                            Type de céréale :
                            Poids :
                            Qualité : 
                            En attente de chargement : 
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                      </mat-card>
                </div>

                <div>
                  <mat-card style="height:700px; width:600px;overflow-y: scroll;">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Historique</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <p>
                          Type de céréale :
                          Poids :
                          Qualité : 
                          Numéro de commande :
                          Lieu de destination :
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>     
        </mat-tab>
        <!--
        <mat-tab label="TEST !">
            <div>
                <p>{{ impureter | json }}</p>
                <p>{{ graine | json }}</p>
                <p>{{ alarme | json }}</p>
            </div>
        </mat-tab>
        -->
    </mat-tab-group>
</body>